/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none !important;
    color: black !important;
}
.active{
    color: chocolate !important;
    background-color: #eee;
    transition: all 0.5;
}